<div class="card">
  <div class="card-body">
    <h4 class="card-title"><i class="bi-calculator"></i> Calculator </h4>

    <form class="row">
      <div class="col">
        <label class="form-label">Digit One</label>
        <input type="number" #d1 (input)="changeDigit1(d1.value)" [value]="digit1()" class="form-control">
      </div>

      <div class="col-auto btn-wrapper">
        <div class="pt-1">
          <i class="bi-plus-lg"></i>
        </div>
      </div>

      <div class="col">
        <label class="form-label">Digit Two</label>
        <input #d2 (input)="changeDigit2(d2.value)" [value]="digit2()" type="number" class="form-control">
      </div>

      <div class="col-auto btn-wrapper">
        <div class="pt-1">
          =
        </div>
      </div>

      <app-result [result]="result()" class="col"></app-result>
    </form>
  </div>
</div>
