<h5>Create Limit Plan</h5>
<form action="#">
  <div class="row">
    <div class="col-3">
      <label class="form-label">Plan Name</label>
      <input type="text" placeholder="Enter Plan Name" class="form-control">
    </div>
    <div class="col">
      <div class="row">
        <div class="col-3">
          <label class="form-label">Wallet Maximum</label>
          <input type="number" placeholder="Enter Max Amount of Wallet" class="form-control">
        </div>
        <div class="col">
          <label class="form-label">Description</label>
          <input type="text" placeholder="Enter Description" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <h5 class="mt-4">Transaction Limit</h5>

  <div class="row">
    <div class="col-3">Transaction</div>
    <div class="col">
      <div class="row">
        <div class="col">Min</div>
        <div class="col">Max</div>
        <div class="col">Daily Limit</div>
        <div class="col">Monthly Limit</div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-3">Cash In MTB</div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input type="number" placeholder="Enter Min Amount" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Enter Max Amount" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Daily Limit" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Monthly Limit" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-3">Cash In MPU</div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input type="number" placeholder="Enter Min Amount" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Enter Max Amount" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Daily Limit" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Monthly Limit" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-3">Cash Out</div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input type="number" placeholder="Enter Min Amount" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Enter Max Amount" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Daily Limit" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Monthly Limit" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-3">P2P Transfer</div>
    <div class="col">
      <div class="row">
        <div class="col">
          <input type="number" placeholder="Enter Min Amount" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Enter Max Amount" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Daily Limit" class="form-control">
        </div>
        <div class="col">
          <input type="number" placeholder="Monthly Limit" class="form-control">
        </div>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-4">
    <button class="btn btn-primary">Save Setting</button>
  </div>
</form>
