<div class="row mb-3">
  <app-search-form-group class="col-3" label="Shop Type">
    <div class="input-group">
      <input type="text" placeholder="Enter Shop Type" class="form-control">
      <button class="input-group-text">
        <i class="bi-search"></i>
      </button>
    </div>
  </app-search-form-group>

  <app-search-form-group class="col-3" label="Shop Name">
    <input type="text" placeholder="Shop Name" class="form-control">
  </app-search-form-group>
</div>

<div class="row">
  <div class="col">
    <label class="form-label">Outside Photo</label>
    <div>
      <img src="/assets/photos/outside.jpg" class="img-shop" alt="">
    </div>
  </div>
  <div class="col">
    <label class="form-label">Inside Photo</label>
    <div>
      <img src="/assets/photos/inside.jpg" class="img-shop" alt="">
    </div>
  </div>
</div>
