<main class="d-flex align-items-stretch h-100">

  @if (openMenu()) {
    <nav class="side-bar open">
      <div class="pt-3 ps-3">
        <h4 (click)="toggleMenu()">
          <i class="bi-arrow-left"></i> Wallet System
        </h4>
      </div>
    </nav>
  } @else {
    <nav class="side-bar">
      <div class="pt-3 px-3">
        <h4 (click)="toggleMenu()">
          <i class="bi-list"></i>
        </h4>
      </div>
    </nav>
  }

  <div class="container-fluid pt-3">
    <h4><i [class]="icon()"></i> {{title()}}</h4>

    <section>
      <router-outlet></router-outlet>
    </section>
  </div>
</main>
