<div>
  <ul class="pagination">
    <li class="page-item">
      <a href="#" class="page-link">
        <i class="bi-skip-backward"></i>
      </a>
    </li>

    <li class="page-item">
      <a href="#" class="page-link active">1</a>
    </li>

    <li class="page-item">
      <a href="#" class="page-link">2</a>
    </li>

    <li class="page-item">
      <a href="#" class="page-link">3</a>
    </li>

    <li class="page-item">
      <a href="#" class="page-link">
        <i class="bi-skip-forward"></i>
      </a>
    </li>
  </ul>
</div>
