<app-card [showMergin]="false">

  <h5 class="card-title">Fix Setting</h5>

  <div class="row">
    <div class="col">
      <div class="mb-3">
        <app-amount-and-percent label="Transaction Fees"></app-amount-and-percent>
      </div>
      <div>
        <app-amount-and-percent label="Provider Fees"></app-amount-and-percent>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <app-amount-and-percent label="Agent Fees"></app-amount-and-percent>
      </div>
      <div>
        <app-amount-and-percent label="Super Agent Fees"></app-amount-and-percent>
      </div>
    </div>

    <div class="col">
      <div class="mb-3">
        <app-amount-and-percent label="CMS Received"></app-amount-and-percent>
      </div>
      <div>
        <app-amount-and-percent label="CMS Paid"></app-amount-and-percent>
      </div>
    </div>
  </div>

</app-card>
