<h3>
  <i class="bi-shield-check"></i> Limit Setting Management
</h3>

<app-card>
  <form action="#" class="d-flex">
    <div class="me-2">
      <label for="type" class="form-label">Status</label>
      <select name="#" id="type" class="form-select">
        <option value="">All Status</option>
        @for (item of statusList; track $index) {
          <option [value]="item">{{item}}</option>
        }
      </select>
    </div>

    <div class="me-2">
      <label for="type" class="form-label">Agent Type</label>
      <select name="#" id="type" class="form-select">
        <option value="">All Agent Types</option>
        @for (item of agenTypes; track $index) {
          <option [value]="item">{{item}}</option>
        }
      </select>
    </div>

    <div class="me-2">
      <label for="name" class="form-label">Setting Name</label>
      <input type="text" class="form-control" id="name" placeholder="Search Setting Name">
    </div>

    <div class="me-2 search-btns">
      <button class="btn btn-outline-danger me-1">
        <i class="bi-search"></i> Search
      </button>

      <button class="btn btn-outline-danger me-1">
        <i class="bi-file-spreadsheet"></i> Export
      </button>

      <a [routerLink]="['/limits', 'edit']" class="btn btn-outline-danger me-1">
        <i class="bi-plus-lg"></i> Add New
      </a>
    </div>
  </form>
</app-card>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Setting Name</th>
      <th>Agent Type</th>
      <th class="text-end">Agents</th>
      <th>Status</th>
      <th>Default</th>
      <th>Created At</th>
      <th>Created By</th>
      <th>Approved At</th>
      <th>Approved By</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    @for (item of settingList; track $index) {
      <tr>
        <td>{{item.name}}</td>
        <td>{{item.type.name}}</td>
        <td class="text-end">{{item.agents}}</td>
        <td>{{item.status}}</td>
        <td>{{item.default == 'true' ? 'Yes' : 'No'}}</td>
        <td>{{item.createAt}}</td>
        <td>{{item.createBy}}</td>
        <td>{{item.approvedAt}}</td>
        <td>{{item.approvedBy}}</td>
        <td>
          <a href="#" [routerLink]="['/limits', 'details']" [queryParams]="{type : item.type.type}" class="icon-link mx-2">
            <i class="bi-send"></i>
          </a>
        </td>
      </tr>
    }
  </tbody>
</table>

<app-pagination></app-pagination>
