<app-page icon="bi-person" [title]="title">

  <div actions>
    <button class="btn btn-outline-dark">
      <i class="bi-save"></i> Save
    </button>
  </div>

  <!-- Navigation -->
  <ul class="nav nav-underline">
    <li class="nav-item">
      <a href="#" class="nav-link active">
        <i class="bi-person"></i> KYC Information
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi-shop"></i> Agent Shop
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="bi-files-alt"></i> Other Documents
      </a>
    </li>
  </ul>

  <!-- Content -->

</app-page>
