<div class="d-flex justify-content-between mb-4">
  <h3>
    <i class="bi-gear"></i> Transaction - GL Account Settings
  </h3>

  <a [routerLink]="['/list']" class="btn btn-outline-danger">
    <i class="bi-arrow-left-right"></i> Mapping List
  </a>
</div>

<div class="row">
  <div class="col-3">
    <div class="card">
      <div class="card-body">
        <app-transaction-setting (onTypeChange)="changeType($event)"></app-transaction-setting>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-body">
        <app-mapping-setting [type]="type"></app-mapping-setting>
      </div>
    </div>
  </div>
</div>
