<div class="d-flex justify-content-between">
  <h3 class="d-flex flex-column">
    <span>
      <i class="bi-currency-exchange"></i> {{settingInfo.name}} ({{settingInfo.type.type}})
    </span>
    @if (settingInfo.description) {
      <h6 class="text-secondary mb-0">
        <span class="ps-4 ms-2">{{settingInfo.description}}</span>
      </h6>
    }
  </h3>

  <div>
    <a [routerLink]="['/limits', 'edit']" class="btn btn-outline-danger">
      <i class="bi-pencil"></i> Edit Plan
    </a>
    @if (settingInfo.default == 'false') {
      <button class="btn btn-outline-danger ms-2">
        <i class="bi-shield-check"></i> Make Default
      </button>
    }
    @if (settingInfo.status == 'Pending') {
      <button class="btn btn-outline-danger ms-2">
        <i class="bi-x-lg"></i> Cancel
      </button>
      <button class="btn btn-outline-danger ms-2">
        <i class="bi-check-lg"></i> Approve
      </button>
    }
  </div>
</div>


<app-card>
  <div class="row">
    <div class="col">
      <label class="form-label">Status</label>
      <span class="form-control">{{settingInfo.status}}</span>
    </div>
    <div class="col">
      <label class="form-label">Crated At</label>
      <span class="form-control">{{settingInfo.createAt}}</span>
    </div>
    <div class="col">
      <label class="form-label">Crated By</label>
      <span class="form-control">{{settingInfo.createBy}}</span>
    </div>
    <div class="col">
      <label class="form-label">Approved At</label>
      <span class="form-control">{{settingInfo.approvedAt == "" ? "Not Now" : settingInfo.approvedAt}}</span>
    </div>
    <div class="col">
      <label class="form-label">Approved By</label>
      <span class="form-control">{{settingInfo.approvedBy == "" ? "Not Now" : settingInfo.approvedBy}}</span>
    </div>

  </div>
</app-card>

<div class="mt-3">
  <ul class="nav nav-pills">
    <li class="nav-item">
      <button data-bs-toggle="pill"  data-bs-target="#trxPane" class="nav-link active">
        <i class="bi-list"></i> Transactions
      </button>
    </li>
    <li class="nav-item">
      <button data-bs-toggle="pill" data-bs-target="#agentPane" class="nav-link">
        <i class="bi-people"></i> Agents (3)
      </button>
    </li>
    <li class="nav-item">
      <button data-bs-toggle="pill" data-bs-target="#addAgentPane" class="nav-link">
        <i class="bi-person-add"></i> Add Agent
      </button>
    </li>
  </ul>

  <div class="tab-content mt-3">
    <div class="tab-pane fade show active" id="trxPane">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Transaction</th>
            <th class="text-end">Minimum</th>
            <th class="text-end">Maximum</th>
            <th class="text-end">Daily Limit</th>
            <th class="text-end">Monthly Limit</th>
          </tr>
        </thead>

        <tbody>
          @for (item of transactionTypes; track $index) {
            <tr>
              <td>{{item}}</td>
              <td class="text-end">1,000 MMK</td>
              <td class="text-end">250,000,000 MMK</td>
              <td class="text-end">5,000,000 MMK</td>
              <td class="text-end">150,000,000 MMK</td>
            </tr>
          }
        </tbody>
      </table>
    </div>

    <div class="tab-pane fade" id="agentPane">
      <app-agent-list [agentCode]="shortCode"></app-agent-list>
    </div>

    <div class="tab-pane fade" id="addAgentPane">
      <app-agent-add></app-agent-add>
    </div>
  </div>
</div>
