<div class="row row-cols-4">
  <div class="col">
    <label class="form-label">License Photo</label>
    <div>
      <img src="/assets/photos/business-license.jpg" class="w-100 img-thumbnail" alt="">
    </div>
  </div>
  <div class="col">
    <label class="form-label">License Agreement</label>
    <div>
      <img src="/assets/photos/license-agreement.png" class="w-100 img-thumbnail" alt="">
    </div>
  </div>
  <div class="col">
    <label class="form-label">Other Documents</label>
    <div class="img-thumbnail other-doc">
      <h3><i class="bi-plus-lg"></i> Add More</h3>
    </div>
  </div>
</div>
