<h3 class="d-flex justify-content-between">
  <span>
    <i class="bi-pencil"></i> Create Fees Setting
  </span>

  <a [routerLink]="['/fees/details']" [queryParams]="{id: 1}" class="btn btn-outline-danger">
    <i class="bi-save"></i> Save Setting
  </a>
</h3>

<form action="#">
  <app-card>
    <div class="row">
      <div class="col-3">
        <label class="form-label">Contract Name</label>
        <input type="text" placeholder="Enter Contract Name" class="form-control">
      </div>

      <div class="col-2">
        <label class="form-label">Default Setting</label>
        <select class="form-select">
          <option value="false">No</option>
          <option value="true">Yes</option>
        </select>
      </div>

      <div class="col">
        <label class="form-label">Description</label>
        <textarea placeholder="Enter Description" cols="30" rows="1" class="form-control"></textarea>
      </div>
    </div>
  </app-card>

  <div class="mt-3">

    <ul class="nav nav-pills">
      <li class="nav-item">
        <a data-bs-toggle="pill"  data-bs-target="#trxPane" class="nav-link active">
          <i class="bi-list"></i> Transactions Fees
        </a>
      </li>

      <li class="nav-item">
        <a data-bs-toggle="pill"  data-bs-target="#addPane" href="#" class="nav-link">
          <i class="bi-plus-lg"></i> Add Transaction
        </a>
      </li>
    </ul>

    <div class="tab-content mt-3">

      <div class="tab-pane fade show active" id="trxPane">
        <app-fees-list></app-fees-list>
      </div>

      <div class="tab-pane fade" id="addPane">
        <app-fees-add></app-fees-add>
      </div>

    </div>
  </div>
</form>
