<div class="row mb-3">
  <app-search-form-group class="col-3" label="ID Type">
    <select class="form-select">
      <option value="1">Old NRC</option>
      <option value="2">New NRC</option>
      <option value="3">Passport</option>
    </select>
  </app-search-form-group>

  <app-search-form-group class="col-3" label="ID Number">
    <input type="text" placeholder="Enter ID Number" class="form-control">
  </app-search-form-group>
</div>

<div class="row">
  <div class="col">
    <label class="form-label">Front Image</label>
    <img src="/assets/photos/id-front.jpg" class="w-100">
  </div>
  <div class="col">
    <label class="form-label">Back Image</label>
    <img src="/assets/photos/id-back.jpg" class="w-100">
  </div>
</div>
