<div class="row">
  <div class="col">
    <div class="row row-cols-2">
      <app-search-form-group label="Region">
        <select class="form-select">
          <option value="">Select Region</option>
        </select>
      </app-search-form-group>

      <app-search-form-group class="mb-3" label="Destrict">
        <select class="form-select">
          <option value="">Select Destrict</option>
        </select>
      </app-search-form-group>

      <app-search-form-group class="mb-3" label="Township">
        <select class="form-select">
          <option value="">Select Township</option>
        </select>
      </app-search-form-group>

      <app-search-form-group class="mb-3" label="Quarter">
        <input type="text" class="form-control" placeholder="Enter Querter or Villege">
      </app-search-form-group>

      <app-search-form-group class="mb-3" label="Street">
        <input type="text" class="form-control" placeholder="Enter Street Address">
      </app-search-form-group>

      <app-search-form-group class="mb-3" label="Building">
        <input type="text" class="form-control" placeholder="Enter Building">
      </app-search-form-group>

      <app-search-form-group class="mb-3" label="Latitude">
        <input type="text" class="form-control" placeholder="Enter Latitude">
      </app-search-form-group>

      <app-search-form-group class="mb-3" label="Longitude">
        <input type="text" class="form-control" placeholder="Enter Longitude">
      </app-search-form-group>
    </div>

  </div>

  <div class="col">
    <label class="form-label">Drop Pin to Map</label>
    <div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3820.044083732947!2d96.14839591083073!3d16.774482220105348!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30c1eb2bc4df653f%3A0x4d701b56fed1c214!2sDinger!5e0!3m2!1sen!2smm!4v1708449893289!5m2!1sen!2smm" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>
