<table class="table table-bordered">
  <thead>
    <tr>
      <th>Transaction</th>
      <th>Provider</th>
      <th>Transaction Fees</th>
      <th>Provider Fees</th>
      <th>Agent Fees</th>
      <th>Super Agent Fees</th>
      <th>CMS Received</th>
      <th>CMS Paid</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>Cash In</td>
      <td></td>
      <td>3.0%</td>
      <td>0</td>
      <td>1.5%</td>
      <td>3.5%</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Cash Out</td>
      <td></td>
      <td>
        <span>Daily:100,000</span><br>
        <span>Fees:500MMK</span>
      </td>
      <td>0</td>
      <td>
        <span>Daily:100,000</span><br>
        <span>Fees:100MMK</span>
      </td>
      <td>
        <span>Daily:100,000</span><br>
        <span>Fees:300MMK</span>
      </td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Send Money</td>
      <td></td>
      <td>
        <div class="row">
          <div class="col">Range</div>
          <div class="col-4 text-end">Fees</div>
        </div>
        <div class="row">
          <div class="col">0 - 99,999</div>
          <div class="col-4 text-end">500</div>
        </div>
        <div class="row">
          <div class="col">100,000 - 999,999</div>
          <div class="col-4 text-end">4,500</div>
        </div>
      </td>
      <td>0</td>
      <td>
        <div class="row">
          <div class="col">Range</div>
          <div class="col-4 text-end">Fees</div>
        </div>
        <div class="row">
          <div class="col">0 - 99,999</div>
          <div class="col-4 text-end">500</div>
        </div>
        <div class="row">
          <div class="col">100,000 - 999,999</div>
          <div class="col-4 text-end">4,500</div>
        </div>
      </td>
      <td>
        <div class="row">
          <div class="col">Range</div>
          <div class="col-4 text-end">Fees</div>
        </div>
        <div class="row">
          <div class="col">0 - 99,999</div>
          <div class="col-4 text-end">500</div>
        </div>
        <div class="row">
          <div class="col">100,000 - 999,999</div>
          <div class="col-4 text-end">4,500</div>
        </div>
      </td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <td>Top Up</td>
      <td>2C2P</td>
      <td>50</td>
      <td>50</td>
      <td>0</td>
      <td>100</td>
      <td>50</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
